@model EscalationAnalysisDb2.Domain.Entities.AppUser

<div class="container mt-4">

    <div class="card p-4 shadow-sm" style="max-width:500px; margin:auto; border-radius:12px;">

        <h4 class="mb-3">Edit User</h4>
        <p class="text-muted mb-4">Update user information</p>

        <form asp-action="Edit" method="post" autocomplete="off">

            <!-- ID (NO TOCAR) -->
            <input type="hidden" asp-for="AppUserId" />

            <div asp-validation-summary="All" class="text-danger mb-3"></div>

            <!-- USERNAME 
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input asp-for="Username" class="form-control" />
            </div>-->

            <!-- EMAIL (CLAVE PARA LOGIN Y RESET) -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <!-- PASSWORD (OPCIONAL - NO SE GUARDA AUTOMÁTICAMENTE) -->
            <div class="mb-3">
                <label class="form-label">New Password </label>
                <input name="NewPassword" type="password" class="form-control" />
            </div>

            <!-- ROLE -->
            <div class="mb-3">
                <label class="form-label">Role</label>
                <select asp-for="Role" class="form-control">
                    <option value="Admin">Admin</option>
                    <option value="User">User</option>
                </select>
            </div>

            <!-- ACTIVE -->
            <div class="form-check mb-4">
                <input asp-for="IsActive" type="checkbox" class="form-check-input" />
                <label class="form-check-label">Active</label>
            </div>

            <!-- BUTTONS -->
            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-primary w-50">
                    Update
                </button>

                <a asp-controller="Users" asp-action="Index" class="btn btn-outline-secondary w-50">
                    Back to list
                </a>
            </div>

        </form>

    </div>

</div>